# Django Temel Ayarları
SECRET_KEY=replace-with-a-real-50-char-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173

# Google Auth Ayarları (Login için)
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Django Hata Logları İçin Admin Maili
ADMIN_EMAIL=your-admin@gmail.com

# --- E-POSTA (SMTP) GÖNDERİM AYARLARI ---
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

# Buraya maili GÖNDERECEK olan Gmail adresinizi yazın (Örn: info@volinor.com)
EMAIL_HOST_USER=your-sender@gmail.com

# Buraya Google hesabınızdan aldığınız 16 haneli Uygulama Şifresini yazın
EMAIL_HOST_PASSWORD=your-google-app-password

# İletişim formundan gelen maillerin DÜŞECEĞİ/GÖNDERİLECEĞİ adres
SERVER_EMAIL=your-admin@gmail.com

# Giden maillerde "Kimden" kısmında görünecek isim ve adres
DEFAULT_FROM_EMAIL=Volinor <your-sender@gmail.com>
